provider "azurerm" {
  features {}
}

{% for option in selected_options -%}
  {% if option == "Single Virtual Machine" -%}
    module "basic_vm" {
      source = "../modules/basic_vm"
      prefixname = "multicloudify-azure"
    }
    
  {% elif option == "Cluster of Virtual Machines" -%}
# Insert cluster module configuration here
  {%- endif %}
{%- endfor %}
