terraform {
  # use tf init -backend-config=backend.hcl to get all parameters
  backend "s3" {
    key = "azure/stage/services/terraform.tfstate"
  }
}

provider "azurerm" {
  features {}
}

locals {
  prefixname = "multicloudify"
  location   = "westus"
}

resource "azurerm_resource_group" "rg" {
  name     = "${local.prefixname}-resource-group"
  location = local.location
}

{% for option in selected_options -%}
  {% if option == "Single Virtual Machine" -%}
module "basic_vm" {
  source     = "../../modules/basic_vm"
  prefixname = "multicloudify-azure"
  rgname     = azurerm_resource_group.rg.name
}

  {% elif option == "Blob Storage" -%}
module "blob_storage" {
  source = "../../modules/blob_storage"
  prefixname = local.prefixname  
  # currently uses a resource group that is shared with all deployments
  rgname = azurerm_resource_group.rg.name 
}

  {% elif option == "Static Web App" -%}
module "static_web_app" {
  source = "../../modules/static_web_app"
  rg     = azurerm_resource_group.rg.name
}
  {%- endif %}
{%- endfor %}
